.logo{
    font-family: 'Momo Signature', cursive;
    font-size: 20px;
    border: none;
}
.hamburger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.nav-link ul li{
    list-style: none;
    margin-right: 20px;
    display: flex;
}

@media screen and (max-width:768px){
 
    .hamburger{
        display: block;
        color: aliceblue;
    }
    .nav-link ul{
        

    }
}
 .title  {
  font-family: "", cursive;
    font-weight: 500;
    font-size: 2.4rem;
}


body{
    font-family: 'Inter', sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.resttitle{

    font-family: serif;
    font-size:35px;
    color: rgb(110, 110, 108);
}
.fontst{
    font-family: "Nunito", sans-serif;
}
